
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<main>
    <form th:action="${add} ? @{/cliente/add} : @{/cliente/{clienteId}/edit(clienteId=${cliente.id})}"
          th:object="${cliente}" th:method="${add} ? POST : PUT">
        <div class="container">
            <h1 th:text="${add} ? 'Cadastrar cliente' : 'Editar cliente'"></h1>
            <div th:if="${cliente.id}" class="mb-3 row">
                <label for="inputId" class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-3">
                    <input type="text" th:readonly="${add} ? 'false' : 'true'" th:field="${cliente.id}" class="form-control" id="inputId">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{nome}" class="form-control" id="inputNome">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{email}" class="form-control" id="inputEmail">
                    <ul>
                        <li th:each="erro : ${#fields.errors('email')}" th:text="${erro}" />
                    </ul>
                </div>
            </div>
            <div class="d-flex">
                <label class="col-sm-2 col-form-label">Tipo do documento</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="CPF" id="flexRadioDefault1" th:field="*{tipoDocumento}">
                    <label class="form-check-label" for="flexRadioDefault1">CPF</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="CNPJ" id="flexRadioDefault2" th:field="*{tipoDocumento}">
                    <label class="form-check-label" for="flexRadioDefault2">CNPJ</label>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputNumeroDocumento" class="col-sm-2 col-form-label">Número do documento</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{numeroDocumento}" class="form-control" id="inputNumeroDocumento">
                    <ul>
                        <li th:each="erro : ${#fields.errors('numeroDocumento')}" th:text="${erro}" />
                    </ul>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputTelefone" class="col-sm-2 col-form-label">Telefone</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{telefone}" class="form-control" id="inputTelefone">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputEndereco" class="col-sm-2 col-form-label">Endereço</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{endereco}" class="form-control" id="inputEndereco">
                </div>
            </div>
            <input type="submit" value="Gravar" class="btn btn-primary mb-3"/>
            <br/><br/>
            <a th:href="@{/clientes}">Voltar</a>
        </div>
    </form>
    <br/>
</main>
</body>
</html>